<div class="container">
	<div class= "row">
		<p>Matched <%= @matched.length if @matched %> products </p>
	</div>
	<% i = 1 %>
	<%= form_for(:match, :url => {:action => 'match_products', :controller => 'grabber'}, html: {method: :post, autocomplete: :false}) do |f| %>
		<% @sc.each do |prod| %>
		<div class="row <%= 'matched' if @matched.include? prod.id %>">
				<div class="col-md-1">
					<p><%= i %>.</p>
				</div>
				<div class="col-md-5">
					<p><b><%= prod.title %></b> <%= prod.competitor_prices[0].sale_price if prod.competitor_prices[0] %><br />
						<% if prod.competitor_prices[0] %>
							<% options = prod.competitor_prices[0].competitor_price_options %>
							<% options.each do |o| %>
								<%= o.title %><br />
							<% end %>
						<% end %>
					</p>
				</div>
				<div class="col-md-6">
					<% match = @fuzzy.find(prod.title) %>
					<p><b><%= f.label match.title %></b> <%= match.competitor_prices[0].sale_price if match.competitor_prices[0] %> <%= f.check_box :"#{prod.id}_#{match.id}", value: "#{prod.id}_#{match.id}"  %><br />
						<% if match.competitor_prices[0] %>
							<% options = match.competitor_prices[0].competitor_price_options %>
							<% options.each do |o| %>
								<%= o.title %><br />
							<% end %>
						<% end %>
					</p>
				</div>
				<% i += 1 %>
			
		</div>
		<% end %>
		<%= f.submit "Submit", class: "btn btn-success" %>
	<% end %>
</div>
