<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Scrape search parameters</h2>
			<%= form_for(:competitor_price, :url => {:action => 'grab_products', :controller => 'grabber'}, html: {method: :post, autocomplete: :false}) do |f| %>
				<p><%= f.label :competitor %>: <%= f.text_field :competitor %></p>
				<p><%= f.label :manufacturer %>: <%= f.text_field :manufacturer %></p>
				<p><%= f.label :url %>: <%= f.text_field :url %></p>
				<%= f.submit 'Submit', class: "btn btn-success" %>
			<% end %>
		</div>
		<div class="col-md-12">
			<h2>Scrape search parameters</h2>
			<%= form_for(:terms, :url => {:action => 'save_scrape_terms', :controller => 'grabber'}, html: {method: :post, autocomplete: :false}) do |f| %>
				<p><%= f.label :competitor %>: <%= f.text_field :competitor %></p>
				<p><%= f.label :title_term %>: <%= f.text_field :title_term %></p>
				<p><%= f.label :sale_price_term %>: <%= f.text_field :sale_price_term %></p>
				<p><%= f.label :orig_price_term %>: <%= f.text_field :orig_price_term %></p>
				<p><%= f.label :shipping_term %>: <%= f.text_field :shipping_term %></p>
				<p><%= f.label :stock_term %>: <%= f.text_field :stock_term %></p>
				<p><%= f.label :discount_term %>: <%= f.text_field :discount_term %></p>
				<p><%= f.label :option_title_term %>: <%= f.text_field :option_title_term %></p>
				<p><%= f.label :option_price_term %>: <%= f.text_field :option_price_term %></p>
				<%= f.submit 'Submit', class: "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>
