<div class="container">
	<% @products.each do |prod| %>
		<div class="row">
			<div class="col-md-2">
				<p><%= prod.title %></p><br />
				<a href="http://jenkenkilns.com/<%= prod.url %>">http://jenkenkilns.com<%= prod.url %></a>
			</div>
			<div class="col-md-6">
				<p><%= prod.description %></p>
			</div>
			<div class="col-md-4">
				<% photos = prod.jk_photos %>
				<% photos.each do |photo| %>
					<p>http://jenkenkilns.com<%= photo.photo_url %></p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
