<div class="container">
	<h3>Viewing <%= @store.name %> Products (<%= @all_products.length %> Total)</h3>
	<div class="row">
		<table>
			<tr>
				<th>
					<h3>Products</h3>
				</th>
				<th>
					<h3>Price</h3>
				</th>
				<th>
					<h3>Last Price</h3>
				</th>
			</tr>
			<% @all_products.each do |prod| %>	
				<% historical_prod = @historical_products.select { |p| p.product_id == prod.product_id} %>
				<tr>
					<td>
						<p><b><%= prod.product_title %></b></p>
					</td>
					<% if historical_prod[0] %>
						<td style="background-color: <%= "yellow" if prod.sale_price != historical_prod[0].sale_price %>"><p><%= prod.sale_price %></p>
						</td>
					<td>
					<% else %>
						<td><p><%= prod.sale_price %></p></td>
					<% end %>
						<p><%= historical_prod[0].sale_price if historical_prod[0] %></p>
					</td>
				</tr>
			<% end %>
		<table>
	</div>
</div>